@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables para modo claro/oscuro */
:root {
  --background: #f4f6f5; /* bg-muted */
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ffffff;
    --foreground: #4caf84;
  }
}

/* Aplicar variables al body */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
